# Editor directories and files
.vscode/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.env

# Machine Learning Artifacts
*.keras
*.h5
*.pb
*.joblib

# Notebooks
*.ipynb
.json